@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


*{
  font-family: Outfit;
}

.active hr {
  display: block; 
}

::-webkit-scrollbar{
  @apply hidden
}

@media (max-width: 740px) {
  .active p {
    background-color: #7c3aed; /* Tailwind purple-600 */
    color: white;
    display: block;
  }
}


